#bild-1 {
  width: 100%;
  margin-top: 6vh;
}
.text-1 {
  color: rgb(221, 135, 29);
  display: flex;
  justify-content: center;
  margin-top: 6vh;
  font-size: 30px;
}
.text-2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 6vh;
  text-align: center;
}
.text-3 {
  color: orange;
  text-align: center;
}
@media (min-width: 768px) {
  .text-3 {
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .text-3 {
    text-align: right;
  }
}
#input {
  text-align: center;
  margin-top: 6vh;
}
input {
  text-align: center;
  border-radius: 20px;
  height: 30px;
  width: 50%;
  border: 1px solid red;
}
button {
  background: linear-gradient(to right, hsl(0, 82%, 39%), #fff);
  margin-left: -40px;
  border-radius: 20px;
  width: 50px;
  height: 35px;
}
input::placeholder {
  color: red;
}
body {
  background-image: url(./images/bg-pattern-desktop.svg)
}
